# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build outputs.
build/

# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
gen/
/js/node_modules/
/node_modules/
/example/node_example_ts/node_modules/
/js/dart2jsout.js.deps
/js/apex-reflection-node/node_modules/
/js/apex-reflection-node/out.js
/js/apex-reflection-node/coverage/
/js/apex-reflection-node/dist/
